{% extends 'base.html.twig' %}

{% block body %}
    <section class="medium-wide centered">
      <h2>Min profil</h2>

      <p><strong><a href= {{ path("editpersonalprofile") }}>Rediger profil</a></strong></p>
        
      <div class="full-wide fbox">
          <div class="actor-image w-100 w-25-ns pa3">
              <img src="{{ asset('static/images/person/defaultprofile.png') }}" alt="Image of person">
          </div>
          <div class="w-100 w-75-ns pa3 f4">
            {% if user is defined %}
              <p><b>E-post:</b> {{ user.getEmail() }}</p>
              <p><b>Navn:</b> {{ user.getFullName() }}</p>
              <p><b>Telefonnummer:</b> {{ user.getphone() }}</p>
              {% if user.getProjects() is not empty %}
              <p>Du kan redigere følgende prosjekter: </p>
              <ul>
              {% for project in user.getProjects() %}
                <li><a href= {{ path("project", {'id': project.getId()}) }}> {{ project.getName() }}</a></li>
              {% endfor %}
              </ul>
              {% endif %}

              {% if user.getActors() is not empty %}<p>Du kan redigere følgende aktører: </p>
              <ul>
              {% for a in user.getActors() %}
                {# This is called duct typing #}
                {% if a.getFirstName is defined %}
                  {# This is a person #}
                  <li><a href= {{ path("person", {'id': a.getId()}) }}> {{ a.getName() }}</a></li>
                {% else %}
                  {# This is a company #}
                  <li><a href= {{ path("company", {'id': a.getId()}) }}> {{ a.getName() }}</a></li>
                {% endif %}
              {% endfor %}
              </ul>
              {% endif %}

            {% endif %}
          </div>
      </div>
      {% if is_granted('ROLE_EDITOR') %}
        <h3>Redaktørvalg</h3>
        <p><a href="{{ path('userlist') }}">Se registrerte brukere</a></p>
        <p><a href="{{ path('activate_users') }}">Aktiver brukere</a></p>
        <p><a href="{{ path('deactivate_users') }}">Deaktiver brukere</a></p>
        <p><a href="{{ path('promote_editors') }}">Oppnevn redaktør-brukere</a></p>
        <p><a href="{{ path('demote_editors') }}">Degradere redaktør-brukere</a></p>
        {% endif %}
    </section>
{% endblock %}
