    <section id="projects" class="pretty-wide centered fbox pt4 ph2">
      {% for project in projects %}
      <div class="w-100 w-50-ns">
        <a href="{{ path('project', {'id': project.getId()}) }}" class="proj-box fbox">
          <div class="w-50">
            {% for key,image in project.getImages() %}
              {%if loop.index == 1%}
              <img src="{{ image.getUrl() }}">
              {%endif%}
            {% endfor %}
          </div>
          <div class="pa3 w-50">
            <h2>
              {{ project.getName() }}
            </h2>
            {% if project.getHidden() %}
              <p class="hidden-notification"><span class="fa fa-eye-slash" aria-hidden="true"></span>Skjult prosjekt</p>
            {% endif %}
            <p>{{ project.getLeadText() }}</p>
            <h4>Adresse</h4>
            <p>{{ project.getLocation() }}</p>
            {% if project.getUniqueMeasureTypes() is not empty %}
              <h4>Anlagte tiltak</h4>
              <ul>
              {% for measureType in project.getUniqueMeasureTypes() %}
                <li>{{ measureType }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
    </section>
