{% extends 'base.html.twig' %}

{% block title %}
  Aktøroversikten
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <!-- Used to dynamically switch between people and companies -->
  <script src="{{ asset('static/js/showActor.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      checkCookie();
    });
  </script>
{% endblock %}

{% block body %}

  <section class="medium-wide centered fbox">
    <div class="w-100 w-50-ns ph2 pb4">
      <a href="#" id="person-button" class="panel-button pa3 f3 bg-ovase-peach white" onclick="show('person');">
        <p><span class="fa fa-user" aria-hidden="true"></span>Se personer</p>
      </a>
    </div>
    <div class="w-100 w-50-ns ph2 pb4">
      <a href="#" id="company-button" class="panel-button pa3 f3 bg-ovase-peach white" onclick="show('company');">
        <p><span class="fa fa-building" aria-hidden="true"></span>Se bedrifter</p>
      </a>
    </div>
  </section>

  <section class="medium-wide centered cf">
    <div class="w-100">
      <!-- Entire person list box -->
      <div id="person-list" class="cf">
        <div class="full-wide mb1 fbox">
          <div class="w-100 w-50-ns ph2 pb3">
            <div class="actor-search pa2 bg-ovase-yellow cf h-100">
              <!-- Person search -->
              {{ form_start(personForm, { 'attr' : { 'class': 'full-wide ovase-form ovase-form-ext' }} ) }}
              {{ form_widget(personForm) }}
              {{ form_end(personForm) }}
            </div>
          </div>
          <div class="w-100 w-50-ns ph2 pb3">
            <a href="{{ path('create_person') }}" id="company-button" class="panel-button pa3 f3 bg-ovase-yellow white" onclick="show('company');">
              <p><span class="fa fa-plus" aria-hidden="true"></span>Opprett privat-aktør</p>
            </a>
          </div>
        </div>

        <!-- Person cards -->
        <div class="actor-cards full-wide fbox">
        {% for person in persons %}
          <div class="w-100 w-50-ns ph2 pb2">
            <a href="{{ path("person", {'id': person.getId()}) }}" class="proj-box fbox">
              <div class="w-50">
                <img src="{%if person.getImage() is not empty %}{{ person.getImage() }} {% else %} {{ asset('static/images/person/defaultprofile.png') }} {% endif %}">
              </div>
              <div class="pa3 w-50">
                <h2>{{ person.getName() }}</h2>
                <h4>Kompetanse</h4>
                <p>{{person.getCompetence()}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
        </div>

      <div id="company-list" style="display:none">
        Lag selskap
        <a href={{ path('create_company') }}>
          <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
          </button>
        </a>
        </br>
        </br>
        <h5>Selskaper</h5>

        <!-- Company search -->
        {{ form_start(companyForm) }}
        {{ form_widget(companyForm) }}
        {{ form_end(companyForm) }}
        <br>

        <!-- Company cards -->
        {% for company in companies %}
          <div class="col-md-3">
            <a class="actor-card" href= {{ path("company", {'id': company.getId()}) }}>
              <div style="background-color:#d3d3d3; display:block">
                <div style="margin:0 2vw 0 2vw">
                  <div>
                    <h1 class="card-title">{{ company.getName() }}</h1>
                    <h4 class="card-subtitle text-muted">Type: {{company.getType()}}</h4>
                  </div>
                  <div>
                    <img class="center-block card-img" src="{%if company.getImage() is not empty %}{{ company.getImage() }} {% else %} {{ asset('static/images/person/defaultprofile.png') }} {% endif %}" alt="Card image" style="max-width:10vw;max-height:15vw">
                  </div>
                  <div id="p-text">
                    <p class="card-subtitle">Kontaktinformasjon:</p>

                    <p class="card-text" style="padding-bottom: 15px">
                        E-post: {{ company.getEmail() }} </br>
                        Telefonnummer: {{company.getTlf()}}
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
