{% extends 'base.html.twig' %}

{% block title %}
    Selskap
{% endblock %}

{% block body %}
  <section class="medium-wide centered">
    <h1 class="ph3">{{ company.getName() }}</h1>
    <div class="full-wide fbox">
      <div class="actor-image w-100 w-50-ns pa3">
        <img src="{%if company.getImage() is not empty %}{{ company.getImage() }} {% else %} {{ asset('static/images/person/defaultprofile.png') }} {% endif %}" alt="Image of person">
      </div>
      <div class="w-100 w-50-ns pa3 f4">
        <p><b>Type:</b> {{ company.getType() }}</p>
        <p><b>E-post:</b> {{ company.getEmail() }}</p>
        <p><b>Telefonnummer:</b> {{ company.getTlf() }}</p>
        <p><b>Organisasjonsnummer:</b> {{ company.getOrgNr() }}</p>
        <p><b>Kompetanse:</b> {{ company.getCompetence() }}</p>

        {% if company.getPersons() is not empty %}<p><b>Personer knyttet til selskapet:</b></p>
        <ul class = "actor-ul">
            {% for person in company.getPersons() %}
                <li><a href= "{{ path("person", {'id': person.getId()}) }}">{{person.getName}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if company.getProjects() is not empty %}<p><b>Prosjekter knyttet til selskapet:</b></p> 
        <ul class = "actor-ul">
            {% for project in company.getProjects() %}
                <li><a href= "{{ path("project", {'id': project.getId()}) }}">{{project.getName}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
    <h2 class="ph3">Adresse</h2>
    <iframe class="ph3"
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src= "https://www.google.com/maps/embed/v1/search?key={{gmaps_api_key}}&q={{ company.getLocation() }}" allowfullscreen>
    </iframe>
  </section>
{% endblock %}

