{% extends 'base.html.twig' %}

{% block title %}
    Person
{% endblock %}

{% block body %}
  <section class="medium-wide centered">
    <h1 class="ph3">{{ person.getName() }}</h1>
    <div class="full-wide fbox">
        <div class="w-100 w-50-ns pa3">
            <img class="w-100" src="{%if person.getImage() is not empty %}{{ person.getImage() }} {% else %} {{ asset('static/images/person/defaultprofile.png') }} {% endif %}" alt="Image of person">
        </div>
        <div class="w-100 w-50-ns pa3 f4">
            <p><b>E-post:</b> {{ person.getEmail() }}</p>
            <p><b>Telefonnummer:</b> {{ person.getTlf() }}</p>
            <p><b>Kompetanse:</b> {{ person.getCompetence() }}</p>
            <br><br>
            {% if person.getCompanies() is not empty %}<p><b>Selskap personen er knyttet til:</b> </p>
            <ul class="actor-ul">
                {% for company in person.getCompanies() %}
                    <li><a href= "{{ path("company", {'id': company.getId()}) }}">{{company.getName}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if person.getProjects() is not empty %}<p><b>Prosjekter personen er knyttet til:</b></p> 
            <ul class="actor-ul">
                {% for project in person.getProjects() %}
                    <li><a href= "{{ path("project", {'id': project.getId()}) }}">{{project.getName}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <h2 class="ph3">Adresse</h2>
    <iframe class="ph3"
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src= "https://www.google.com/maps/embed/v1/search?key={{key}}&q={{ person.getLocation() }}" allowfullscreen>
    </iframe>
  </section>
{% endblock %}
