{% extends 'base.html.twig' %}

{% block body %}
    <section class="pretty-wide centered fbox">
      <div class="w-100 ph2 mb3">
        <div class="mission-box cf pa3">
          <span class="fa fa-flag-checkered" aria-hidden="true">&nbsp;</span>
          <div>
            <h2 class="mt2">HVA ER OVASE?</h2>
            <p class="f4">
              Ovase utvikles for å bli en felles nasjonal kunnskapsportal for overvann. Vi er foreløpig i oppstartsfasen, og nettstedet er under konstruksjon. Ovase har som mål å samle info om overvann for alle på ett sted, for å støtte utviklinga mot bærekraftig og robust overvanns-infrastruktur i Norge. Arbeidet organiseres av Klima 2050.
            </p>
          </div>
        </div>
      </div>
      <div class="fbox">
        <div class="w-100 w-third-ns pa2">
          <a class="section-card pa3 cf bg-ovase-yellow" href="{{ path('projectlist') }}">
            <img src="{{ asset('static/images/index/citylogo.png') }}" alt="Project icon">
            <h2>PROSJEKTER</h2>
            <p>Bli inspirert av eksisterende norske overvannsanlegg</p>
          </a>
        </div>
        <div class="w-100 w-third-ns pa2">
          <a class="section-card pa3 cf bg-ovase-pearl-aqua" href="{{ path('actorlist') }}">
            <img src="{{ asset('static/images/index/actorlogo.png') }}" alt="Actor icon">
            <h2>AKTØRER</h2>
            <p>Finn bransjeaktører som jobber med overvannshåndtering</p>
          </a>
        </div>
        <div class="w-100 w-third-ns pa2">
          <a class="section-card pa3 cf bg-ovase-peach" href="http://wiki.ovase.no/">
            <img src="{{ asset('static/images/index/wikilogi.png') }}" alt="Wiki icon">
            <h2>FAGWIKI</h2>
            <p>Lær mer om ulike typer tiltak og framgangsmåter for å håndtere ekstemnedbør</p>
          </a>
        </div>
      </div>
    </section>
{% endblock %}
