<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Et knutepunkt for informasjon om overvann">
  <meta name="keywords" content="overvann, vann, avløp, informasjon, innovasjon, regnbed, oversvømmelse">
  <title>{% block title %}Overvannssenteret!{% endblock %}</title>
  {% block stylesheets %}
    <link href="{{ asset('static/css/normalize.css') }}" rel="stylesheet" type="text/css">
    {# <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> #}
    {# <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> #}
    <!-- I think this is used for selecting actors -->
      {# <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" /> #}
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="{{ asset('static/css/style.css') }}" rel="stylesheet" type="text/css">
  {% endblock %}

  <!-- Favicon for all -->
  <link rel="icon" type="image/x-icon" href="{{ asset('static/images/index/favicons/favicon.ico') }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('static/images/index/favicons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ asset('static/images/index/favicons/favicon-32x32.png') }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ asset('static/images/index/favicons/favicon-16x16.png') }}" sizes="16x16">
  <link rel="manifest" href="{{ asset('static/images/index/favicons/manifest.json') }}">
  <link rel="mask-icon" href="{{ asset('static/images/index/favicons/apple-touch-icon.png') }}/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Overvannssenteret">
  <meta name="application-name" content="Overvannssenteret">
  <meta name="theme-color" content="#ffffff">

 
</head>
<body>
  {% block header %}
  <header class="full-wide bg-ovase-green">
    <div class="pretty-wide centered">
      <a id="header-logo" href="{{ path('home') }}">
        <img src="{{ asset('static/images/index/ovaselogo.png') }}"/>
        <h1>OVASE</h1>
      </a>
      <nav>
        <ul>
          <li><a class="active" href="{{ path('projectlist') }}">PROSJEKTER</a></li>
          <li><a href="{{ path('actorlist') }}">AKTØRER</a></li>
          <li><a href="http://wiki.ovase.no/">FAGWIKI</a></li>
        </ul>
      </nav>
      <section class="user-panel">
        <ul>
          {% if app.user%}
          <li class="f4"><a href="{{ path('personalprofile') }}"><span class="fa fa-user" aria-hidden="true"></span>Min side</a></li>
          <li class="f4"><a href="{{ path('logout') }}"><span class="fa fa-sign-out" aria-hidden="true"></span>Logg ut</a></li>
          {% else %}
          <li class="f4"><a href="{{ path('create_user') }}"><span class="fa fa-user" aria-hidden="true"></span>Opprett bruker</a></li>
          <li class="f4"><a href="{{ path('login') }}"><span class="fa fa-sign-in" aria-hidden="true"></span>Logg inn</a></li>
          {% endif %}
        </ul>
      </section>
    </div>
  </header>
  {% endblock %}
  <main>
    {% block body %}
    {% endblock %}
  </main>
  {% block footer %}
  <footer class="full-wide">
    <div class="pretty-wide centered">
      <a href= "{{ path('home') }}" >Hjem</a> |
      <a href="#">Om siden</a> |
      <a href="#popup4">Foto</a> |
      Kontakt: mail@ovase.no |
      {% if app.user%}
        Du er {{app.user}} |
        <a href="{{ path('logout') }}">Logg ut</a>
      {% else %}
        <a href="{{ path('login') }}">Logg inn</a>
      {% endif %}
    </div>
  </footer>
  {% endblock %}
  
  <!-- Late loading of JS -->
  {% block javascripts %}
    <script src="https://use.fontawesome.com/a0769c685f.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script> -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  {% endblock %}
</body>
</html>
