
  <section class="medium-wide centered fbox">
    <div class="w-100 w-50-ns ph2 pb3">
      <div class="basics pa3">
        <h2 class="mt0">Kort oppsummert: {{ project.getName() }}</h2>
        <div class="cf">
          <div class="lead fl w-100">
            <p>{{ project.getLeadText() }}</p>
          </div>
          <div class="fact-row fl w-100">
            <p><span class="fact-label">Adresse:</span> {{ project.getLocation() }}</p>
          </div>
          <div class="fact-row fl w-100">
            <p><span class="fact-label">Ferdigstilt år:</span> {{ project.getEnddate() }}</p>
          </div>
          <div class="fact-row fl w-100">
            <p><span class="fact-label">Byggherre:</span>{{ project.getProjectOwner() }}</p>
          </div>
          <div class="fact-row fl w-100">
            <p><span class="fact-label">Prosjekttype:</span>{{ project.getProjectType() }}</p>
          </div>
          <div class="fact-row fl w-100">
            <p><span class="fact-label">Driftsavtale:</span>{{ project.getMaintenanceDeal() }}</p>
          </div>
          <div class="fact-row fl w-100">
            <p><span class="fact-label">Medvirkende:</span></p>
            <ul>
              {% for actor in project.getActors() %}
                {% if actor.getClassName == "Company"%}
                  <li> Selskap: <a href= "{{ path('company', {'id': actor.getId() }) }}">{{actor.getName()}}</a></li>
                {% else %}
                  <li> Person: <a href="{{ path('person', {'id': actor.getId() }) }}" >{{actor.getName()}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 w-50-ns ph2 pb3">
      <div class="img-carousel">
        {% for key,image in project.getImages() %}
          <div class="img-carousel-page">
            <img class="img-carousel-image centered" src="{{ image.getUrl() }}">
            <div class="img-carousel-caption">{{ image.getCaption() }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="medium-wide centered fbox">
    <div class="w-100 w-50-ns ph2 pb3">
      {% if project.getDescription() is defined and project.getDescription() is not empty %}
        <div class="wysiwyg-output project-description">{{ project.getDescription()|raw }}</div>
      {% endif %}
    </div>
    <div class="w-100 w-50-ns ph2 pb3">
      <iframe
        class="project-map"
        frameborder="0" style="border:0"
        src= "https://www.google.com/maps/embed/v1/search?key={{gmaps_api_key}}&q={{ project.getLocation() }}" allowfullscreen>
      </iframe>
    </div>
  </section>

  <!-- Measures -->
  <section class="medium-wide centered">
    <section class="measures-header cf">
      <div class="fl w-100 w-50-ns">
        <h2>Anlagte overvannstiltak</h2>
      </div>
      {% if canEdit is defined and canEdit %}
      <div class="fr w-50">
        <div class="flat-button-box">
          <div class="w-100">
            <a href="{{ path("create_measure_in_project", {'project_id': project.getId()}) }}">
              <span class="fa fa-plus" aria-hidden="true"></span>Legg til nytt tiltak
            </a>
          </div>
        </div>
      </div>
      {% endif %}
    </section>
    {% if project.getMeasures() is empty %}
      <p>Dette prosjektet har ingen registrerte overvannstiltak.</p>
    {% else %}
      {% for measure in project.getMeasures() %}
        {% include 'measure/measure.html.twig' %}
      {% endfor %}
    {% endif %}
  </section>
