{% extends 'base.html.twig' %}

{% block title %}
  Prosjekter
{% endblock %}

{#
      <div>
        <span style="font-size:25px; margin-left:1vw; margin-right:25px; color:#6D6D6D;">Lag nytt prosjekt</span>
        <a class="btn-text" href={{ path('create_project') }}><button type="button" class="btn btn-circle btn-primary btn-raised">+</button></a>
      </div>
#}

{% block stylesheets %}
  {{ parent() }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <!-- Project list controls and map -->
    {% block proj_list_header %}
    <section id="proj-list-header" class="pretty-wide centered fbox">
      <div class="ph2 mb2 w-100 w-50-ns">
        <section id="proj-list-controls" class="pa3">
          <h2 class="mt0">Velkommen til vår prosjektdatabase!</h2>
            {% include 'project/modules/projectSearch.html.twig' %}
        </section>
      </div>
      <div class="ph2 mb2 w-100 w-50-ns">
        <section id="proj-list-map">
          {% include 'project/projectMap.html.twig' %}
        </section>
      </div>
    </section>
    {% endblock %}
    
    <!-- Project list -->
    <section id="projects" class="pretty-wide centered fbox pt4 ph2">
      {% for project in projects %}
      <div class="w-100 w-50-ns">
        <a href="{{ path('project', {'id': project.getId()}) }}" class="proj-box fbox">
          <div class="w-50">
            {% for key,image in project.getImages() %}
              {%if loop.index == 1%}
              <img src="{{ image.getUrl() }}">
              {%endif%}
            {% endfor %}
          </div>
          <div class="pa3 w-50">
            <h2>{{ project.getName() }}</h2>
            <p>{{ project.getLeadText() }}</p>
            <h4>Adresse</h4>
            <p>{{ project.getLocation() }}</p>
            {% if project.getUniqueMeasureTypes() is not empty %}
              <h4>Anlagte tiltak</h4>
              <ul>
              {% for measureType in project.getUniqueMeasureTypes() %}
                <li>{{ measureType }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
    </section>

    {% if message is defined %}
      <p>{{ message }}</p>
    {% endif %}
  
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&callback=initMap">
    </script>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    // Init select2 input(s)
    $("#project_search_form_measureTypes").select2({
      placeholder: "Velg ett eller flere tiltak"
    });
    $("#project_search_form_measureFunctions").select2({
      placeholder: "Velg ett eller flere formål"
    });
  });
</script>
{% endblock %}
