{% extends 'base.html.twig' %}

{% block title %}
  Prosjekter
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}

    {% if message is defined %}
    <section class="pretty-wide centered pb3">
      <p>{{ message }}</p>
    </section>
    {% endif %}

    <!-- Project list controls and map -->
    {% block proj_list_header %}
    <section id="proj-list-header" class="pretty-wide centered fbox">
      <div class="ph2 mb2 w-100 w-50-ns">
        <section id="proj-list-controls" class="pa3">
          <h2 class="mt0">Velkommen til Ovases prosjektdatabase!</h2>
            {% include 'project/modules/projectSearch.html.twig' %}
        </section>
      </div>
      <div class="ph2 mb2 w-100 w-50-ns">
        <section id="proj-list-map">
          {% include 'project/projectMap.html.twig' %}
        </section>
      </div>
    </section>
    {% endblock %}

    <!-- Create new project button -->
    <section class="pretty-wide centered">
      <div class="w-50 pa2">
        <div class="flat-button-box">
          <div class="w-100">
            <a href="{{  path('create_project') }}">
              <span class="fa fa-plus" aria-hidden="true"></span>Opprett prosjekt
            </a>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Project list -->
    {% include 'project/modules/projectList.html.twig' %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&callback=initMap">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    // Init select2 input(s)
    $("#project_search_form_measureTypes").select2({
      placeholder: "Velg ett eller flere tiltak"
    });
    $("#project_search_form_measureFunctions").select2({
      placeholder: "Velg ett eller flere formål"
    });
  });
</script>
{% endblock %}
